body {
  background-color: #191970;
  border: 2.5px solid rgba(0, 139, 139, 0.452);
  align-items: stretch;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: @popup-content-height;
  margin: 0 auto;
  padding: @popup-content-padding;
  position: relative;
  width: 110px;

}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: midnightblue;
  -webkit-text-stroke: 1.5px tomato;
}

a .title:hover {
  color: midnightblue;
  -webkit-text-stroke: 1px tomato;
}

h1 {
font-family: 'Quicksand', sans-serif;;
font-size: 100%;
letter-spacing: 1px;
padding: 8px 8px 5px 8px;
color: #FF6347;
margin: auto;
text-align: center;
border: none;
outline: none;
}

h2 {
font-family: 'Quicksand', sans-serif;;
letter-spacing: 3px;
font-size: 100%;
padding: 6px 8px 10px 8px;
color: rgb(57, 179, 166)  ;
line-height: 0;
margin: auto;
text-align: center;
border: none;
outline: none;
}

.mode {
font-family: 'Quicksand', sans-serif;;
color: ghostwhite;
padding: 2px 5px;
line-height: 2;
text-align: center;
vertical-align: center;
border: none;
outline: none;
transition: all 200ms ease;
cursor: pointer;
}


.mode.active {
color: #FF6347;
}

.mode:hover {
color: #FF6347;
background-color: rgba(0, 139, 139, 0.452);
background-size: 2px 5px;
padding: 2px;
}
