html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

.mode {
  padding: 2px 5px;
  line-height: 2;
  width: 70px;
  text-align: center;
  vertical-align: center;
  border: none;
  outline: none;
  transition: all 200ms ease;
  cursor: pointer;
}

.mode.selected {
  background-color: #666;
}

.mode:hover {
  background-color: #999;
}
