html {
  background-color: #191970;
  border: 2px ghostwhite;
  border-style: double;
  border-width: thick;
  max-width: 100%;
  margin: auto;
}
body {
  background-color: #191970;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.reset {
  background-color: rgb(255, 199, 136);
}

.reset:hover {
  background-color: rgb(255, 199, 136);
}


h1 {
font-family: "arial black";
font-size: 100%;
letter-spacing: 1px;
padding: 4px 4px 5px 4px;
color: #FF6347;
margin: auto;
margin-right: 5px;
text-align: center;
border: none;
outline: none;
}

h2 {
font-family: "arial black";
letter-spacing: 3px;
font-size: 100%;
padding: 4px 4px 10px 4px;
color: rgb(57, 179, 166);
line-height: 0;
margin: auto;
text-align: center;
border: none;
outline: none;
}

.mode {
font-family: arial;
color: ghostwhite;
padding: 2px 5px;
line-height: 2;
text-align: center;
vertical-align: center;
border: none;
outline: none;
transition: all 200ms ease;
cursor: pointer;
}

.mode.selected {
color: #FF6347;
background-color:rgba(0, 139, 139, 0.521);
}

.mode:hover {
color: #FF6347;
background-color: rgba(0, 139, 139, 0.452);
}

.default {
  font-family: arial;
  color: ghostwhite;
  padding: 2px 5px;
  line-height: 2;
  text-align: center;
  vertical-align: center;
  border: none;
  outline: none;
  transition: all 200ms ease;
  cursor: pointer;
  }
  
  .default.selected {
  color: #FF6347;
  background-color:rgba(0, 139, 139, 0.521);
  }
  
  .default:hover {
  color: #FF6347;
  background-color: rgba(0, 139, 139, 0.452);
  }
